[flake8]
ignore =
    E1,  # Indentation checking
    E2,  # Whitespace checking
    E3,  # Blank line checking
    E5,  # Line length checking
    W1,  # Indentation warnings
    W2,  # Whitespace warnings
    W3,  # Blank line warnings
    W5,  # Line break warnings
    D100, #Missing docstring in public module
    D101, #Missing docstring in public class
    D103, #Missing docstring in public function
    D107, #Missing docstring in __init__


exclude =
    .git,
    .tox,
    __pycache__,
    bin

application-import-names = ivr_gateway
