*.DS_Store
*.pyc
*__pycache__/
.pytest_cache/
*.egg-info/
._flake8
dist/
*.ipynb*
.coverage*
*.tox*
/.env
/htmlcov
/postgres_data
out/
ngrok
/.env.prod.local
er_diagram.pdf
.idea/
.idea
/.idea
/.vscode